{% extends 'ad/base.html' %}
{% load my_tags %}
{% block Page_content %}
<style>
   a {
   text-decoration:none;
   color: black;
   font-weight: 500;
   }
</style>
<section class="py-4">
   <div class="container">
      <h3 class="fw-bolder text-center">List of Categories</h3>
      <center>
         <hr class="bg-primary opacity-100" style="height:3px" width="5%" />
      </center>
      <div class="card rounded-0 shadow">
         <div class="card-body">
            <div class="container-fluid">
               <div class="text-end mb-3">
                  <a href="{% url 'manage_category'%}" class="btn btn-success rounded-1" type="button"><i class="fa fa-plus"></i> Add New</a>
               </div>
               <!-- input search + reset button-->
               <div class="input-group input-group-sm mb-3">
                  <input type="text" onkeyup="searchFunction()" class="form-control" id="search" placeholder="Search for...">
                  <a href="" class="btn btn-dark"><i class="fas fa-sync-alt"></i></a>  
               </div>
               <table class="table table-bordered table-sm-mt-4" id="myTable" style="text-align: center;">
                  <colcategory>
                     <col width="5%"/>
                     <col width="15%"/>
                     <col width="50%"/>
                     <col width="10%"/>
                  </colcategory>
                  <thead>
                     <tr id="chk-th">
                        <th class="text-center" scope="col">#</th>
                        <th class="text-center" scope="col"><a href="{% url 'category' 'name'%}">Name <i class="fa-solid fa-sort"></i></a></th>
                        <th class="text-center" scope="col"><a href="{% url 'category' 'description'%}">Description <i class="fa-solid fa-sort"></i></a></th>
                        <th class="text-center" class="text-center">Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% if category %}
                     {% for cat in category %}
                     <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td class="text-center">{{ cat.name }}</td>
                        <td class="text-center">
                           <p class="m-0 trunste-1">{{cat.description}}</p>
                        </td>
                        <td class="text-center">
                           <div class="dropdown">
                              <button class="btn btn-light btn-sm rounded-0 border dropdown-toggle" type="button" id="{{ cat.id }}" data-bs-toggle="dropdown" aria-expanded="false">Action</button>
                              <ul class="dropdown-menu" aria-labelledby="{{ cat.id }}">
                                 <li>
                                  <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal{{ forloop.counter }}"><i class="fa fa-eye text-dark"></i> View</button>
                                 </li>
                                 <li>
                                    <a class="dropdown-item edit-data" href="{% url 'manage_category_pk' cat.id%}"><i class="fa fa-edit text-primary"></i> Edit</a>
                                 </li>
                                 <li>
                                    <a class="dropdown-item delete-data" href="{% url 'delete_category' cat.id%}"><i class="fa fa-trash text-danger"></i> Delete</a>
                                 </li>
                              </ul>
                           </div>
                        </td>
                     </tr>
                     <!-- Modal View-->
                     <div class="modal fade" id="modal{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg">
                         <div class="modal-content">
                            <div class="modal-header">
                               <h5 class="modal-title" id="exampleModalLabel">Category Detail</h5>
                               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                               {% include 'ad/view_category.html' %}
                            </div>
                         </div>
                      </div>
                      </div>
                     {% endfor %}
                     {% endif %}
                  </tbody>
               </table>
               <div class="d-flex justify-content-center">
                  <span class="text-danger" id="no-data" style="font-size: 20px;"></span>
               </div>
               <nav aria-label="Page">
                  <ul class="pagination  justify-content-end">
                     {% if category.has_previous %}
                     <li class="page-item"><a class="page-link" href="?page={{category.previous_page_number}}"><i class="fa-solid fa-backward"></i></a></li>
                     {% else %}
                     <li class="page-item disabled"><a class="page-link"><i class="fa-solid fa-backward"></i></a></li>
                     {% endif %}
                     {% if category.number|moreB%}
                     <li class="page-item"><a class="page-link" style="pointer-events: none;"><i class="fa-solid fa-ellipsis"></i></a></li>
                     {% endif %}
                     {% for i in category.number|range_list:category.paginator.num_pages %}
                     {% if i == category.number %}
                     <li class="page-item"><a class="page-link" href="?page={{i}}" style="background-color: #d3d3d3;">{{i}}</a></li>
                     {% else %}
                     <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                     {% endif %}
                     {% endfor %}
                     {% if category.number|moreF:category.paginator.num_pages%}
                     <li class="page-item"><a class="page-link" style="pointer-events: none;"><i class="fa-solid fa-ellipsis"></i></a></li>
                     {% endif %}
                     {% if category.has_next %}
                     <li class="page-item"><a class="page-link" href="?page={{category.next_page_number}}"><i class="fa-solid fa-forward"></i></a></li>
                     {% else %}
                     <li class="page-item disabled"><a class="page-link"><i class="fa-solid fa-forward"></i></a></li>
                     {% endif %}
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</section>
<script>
   function searchFunction(){
     let input, filter, table, tr, td, j;
     input = document.getElementById("search");
     filter = input.value.toUpperCase();
     table = document.getElementById("myTable");
     tr = table.getElementsByTagName("tr");
   
     for (j=0; j<tr.length; j++){
       td = tr[j].getElementsByTagName("td");
       msg = document.getElementById("no-data");
   
       if(td.length>0){
         if (td[0].innerHTML.toLocaleUpperCase().indexOf(filter)>-1 ||
             td[1].innerHTML.toLocaleUpperCase().indexOf(filter)>-1 ||
             td[2].innerHTML.toLocaleUpperCase().indexOf(filter)>-1 ||
             td[3].innerHTML.toLocaleUpperCase().indexOf(filter)>-1){
               tr[j].style.display = "";
               msg.innerHTML ="";
         }
         else {
           tr[j].style.display ="none"
         }
       }
       if(td.length==0){
         msg.innerHTML = "Category not found"
       }
     }
   }
</script>
{% endblock %}