{% extends 'ad/base.html' %}

{% block Page_content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800 "><i class="fa-solid fa-book-bookmark"></i> Books Management</h1>
</div>
<div class="card shadow mb-4">
	<div class="card-header py-3">
        {% if type == 'Save' %}
		<h6 class="m-0 font-weight-bold text-primary">Edit Book</h6>
        {% else %}
		<h6 class="m-0 font-weight-bold text-primary">Add Book</h6>
        {% endif %}
	</div>
    <form action="{% url 'save_book' %}" method = "POST" enctype="multipart/form-data" autocomplete="off" class = "p-4 was-validated">
        {% csrf_token %}
        {% comment %} Dùng này để giấu ID khi Edit {% endcomment %}
        <input type="hidden" name="id" value="{{book.id}}">
        <div class="input-group mb-3">
            <span class="input-group-text border-dark" style="width: 138px;" >Title</span>
            <input type="text" id="title" name="title" class="form-control" placeholder="Title" value="{{book.title}}" required>
        </div>
        <div class="input-group mb-3 mt-3">
            <span class="input-group-text border-dark" style="width: 138px;">Publication Year</span>
            <input type="number" id="datepicker" name="publication_year" class="form-control" placeholder="Publication Year" value="{{book.publication_year}}" required>
        </div>
        <div class="input-group mb-3 mt-3">
            <span class="input-group-text border-dark" style="width: 138px;" >Author</span>
            <input type="text" id="author" name="author" class="form-control" placeholder="Author" value="{{book.author}}" required>
        </div>
        <div class="input-group mb-3 mt-3">
            <span class="input-group-text border-dark" style="width: 138px;">Category</span>
            <select type="text" id="category" name="category" data-live-search="true" class="selectpicker form-control" multiple data-container="body" value="{{book.category}}" required>
                {% for category in categories %}
                {% if category in book.category.all%}
                <option value="{{category.pk}}" selected>{{category.name}}</option>
                {% else %}
                <option value="{{category.pk}}">{{category.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3 mt-3" style="z-index: 0;">
            <span class="input-group-text border-dark" style="width: 138px;">Description</span>
            <textarea id="description" name="description" class="form-control" rows="5" required>{{book.description}}</textarea>
        </div>
        <div class="input-group mb-3 mt-3">
            <span class="input-group-text border-dark" style="width: 138px;" >Source Type</span>
            <select type="text" id="sourcetype" name="sourcetype" class="form-control selectpicker" data-size='1' data-container="body" value="{{book.sourcetype}}" required>
                {% for source_type in source_types %}
                {% if source_type in book.sourcetype.all%}
                <option value="{{source_type.pk}}" selected>{{source_type.code}}</option>
                {% else %}
                <option value="{{source_type.pk}}">{{source_type.code}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3 mt-3" style="z-index: 0;">
            <span class="input-group-text border-dark" style="width: 138px;">Language</span>
            <select type="text" id="language" name="language" class="form-control selectpicker" data-size='1' data-container="body" value="{{book.language}}" required>
                {% for language in languages %}
                {% if language in book.language.all%}
                <option value="{{language.pk}}" selected>{{language.code}}</option>
                {% else %}
                <option value="{{language.pk}}">{{language.code}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3 mt-3" style="z-index: 0;">
            <span class="input-group-text border-dark" style="width: 138px" >Book quantity</span>
            <input type="number" id="quantity" name="quantity" class="form-control" value="{{book.quantity}}" placeholder="Book quantity" required>
        </div>
        <div class="input-group mb-3 mt-3">
            <span class="input-group-text border-dark" style="width: 138px;">Cover Photo</span>
            <input type="file" id="image" name="image" class="form-control" placeholder="Last Name" value="{{book.image}}" required>
        </div>
    
        <div class="d-flex justify-content-between mt-3">
            <a href="{% url 'book' 'id'%}" class="btn btn-warning btn-icon-split" type="button">
                <span class="icon text-white-50">
                <i class="fa-solid fa-rotate-left"></i>
                </span>
            <span class="text">Back</span>
            </a>

            <div id="activateButton" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fa-solid fa-plus"></i>
                </span>
                <input type="submit" id="submitButton" style="display: none;">
                <span class="text">{{type}}</span>
            </div>
        </div>
    </form>
</div>

{% endblock Page_content %}
        