{% load static %}
<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <!-- Navbar brand -->
            <a class="navbar-brand" target="_blank" href="./">
                <b>{{system_name}}</b>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarExample01" aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="topNav">
                    {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'home'%}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'category'%}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'sub_category'%}">Sub Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'book'%}">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="">Readers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="">Borrowing Transactions</a>
                    </li>
                    {% comment %} {% if request.user.is_superuser %} {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="">Users</a>
                    </li>
                    {% comment %} {% endif %} {% endcomment %}
                    {% comment %} {% endif %} {% endcomment %}
                </ul>

                <ul class="navbar-nav d-flex flex-row">
                    {% comment %} {% if user.id %} {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link"  href=""><b>Howdy, HoangKha</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="">Logout</a>
                    </li>
                    {% comment %} {% else %} {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="">Login</a>
                    </li>
                    {% comment %} {% endif %} {% endcomment %}
                </ul>
            </div>
        </div>
    </nav>
</header>
