{% extends 'ad/base.html' %}
{% load my_tags %}
{% block Page_content %}
<style>
    a {
      text-decoration:none;
      color: black;
      font-weight: 500;
    }
</style>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800 "><i class="fa-solid fa-book-open-reader"></i> Reader Accounts Requests</h1>
</div>
<div class="card shadow mb-4">
	<div class="card-header py-2 d-flex justify-content-between">
		<div class="m-0 font-weight-bold text-primary d-flex align-items-center">List of Reader Accounts Requests</div>
		<div>
            <a href="{% url 'reader_info' 'id'%}" class="btn btn-sm btn-warning btn-icon-split" type="button">
                <span class="icon text-white-50">
                <i class="fa-solid fa-rotate-left"></i>
            </span>
            <span class="text">Back</span>
            </a>
            <button class="btn btn-sm btn-success btn-icon-split ml-3" data-bs-toggle="modal" data-bs-target="#modal" type="button">
                <span class="icon text-white-50">
                <i class="fas fa-question"></i>
            </span>
            <span class="text">Request</span>
            </button>
        </div>
	</div>
	<div class="card-body">
		<!-- input search + reset button-->
        <div class="input-group input-group mb-3">
            <input type="text" onkeyup="searchFunction()" class="form-control" id="search" placeholder="Search for...">
            <a href="" class="btn btn-dark"><i class="fas fa-sync-alt"></i></a>  
        </div>
        <table class="table table-bordered table-sm-mt-4"  style="text-align: center;">
            <colcategory>
            <col width="5%"  />
            <col width="25%" />
            <col width="20%" />
            <col width="25%" />
            <col width="15%" />
            <col width="10%" />
            </colcategory>
            <thead class="table-primary">
            <tr id="chk-th">
                <th class="text-center" scope="col">#</th>
                <th class="text-center" scope="col"><a href="{% url 'request_reader' 'first_name'%}">First Name <i class="fa-solid fa-sort"></i></a></th>
                <th class="text-center" scope="col"><a href="{% url 'request_reader' 'last_name'%}">Last Name <i class="fa-solid fa-sort"></i></a></th>
                <th class="text-center" scope="col"><a href="{% url 'request_reader' 'email'%}">Email <i class="fa-solid fa-sort"></i></a></th>
                <th class="text-center" scope="col"><a href="{% url 'request_reader' 'status'%}">Status <i class="fa-solid fa-sort"></i></a></th>
                <th class="text-center" class="text-center">Action</th>
            </tr>
            </thead>
            <tbody id="myTable">
            {% if requests %}
                {% for r in requests %}
                <tr>
                    <td class="text-center" scope="row">{{ forloop.counter }}</td>
                    <td class="text-center">{{ r.first_name }}</td>
                    <td class="text-center">{{ r.last_name }}</td>
                    <td class="text-center">{{ r.email}}</td>
                    <td class="text-center">
                    {% if r.status == "1"%}
                        Wait
                    {% endif %}
                    {% if r.status == "2"%}
                        Accept
                    {% endif %}
                    {% if r.status == "3"%}
                        Decline
                    {% endif %}
                    </td>
                    <td class="text-center">
                    <div class="dropdown">
                        <button class="btn btn-light btn-sm rounded-0 border dropdown-toggle" type="button" id="{{ r.pk }}" data-bs-toggle="dropdown" aria-expanded="false">Action</button>
                        <ul class="dropdown-menu" aria-labelledby="{{ r.pk }}">
                        <li>
                            <a class="dropdown-item" href="{% url 'delete_request_reader' r.pk %}"><i class="fa fa-trash text-danger"></i> Delete</a>
                        </li>
                        </ul>
                    </div>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <ul id="pagination" class="pagination justify-content-center"></ul>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <i class="fa fa-plus text-success"> Request Reader Account</i>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form action="" method = "POST" autocomplete="off" class = "card p-3 mt-1 border-dark was-validated">
            {% csrf_token %}
            <div class="input-group mb-3 mt-3">
                <span class="input-group-text border-dark" style="width: 102px;">First Name</span>
                <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name" required>
            </div>
            <div class="input-group mb-3 mt-3">
                <span class="input-group-text border-dark"style="width: 102px;">Last Name</span>
                <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name" required>
            </div>
            <div class="input-group mb-3 mt-3">
                <span class="input-group-text border-dark" style="width: 102px;">Email</span>
                <input type="text" id="email" name="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="text-end mt-3">
                <div id="activateButton" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fa-solid fa-plus"></i>
                    </span>
                    <input type="submit" id="submitButton" style="display: none;">
                    <span class="text">Request</span>
                </div>
            </div>
        </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}


