{% extends 'ad/base.html' %}
{% load my_tags %}
{% block Page_content %}
<style>
	a {
	text-decoration:none;
	color: black;
	font-weight: 500;
	}
  a:hover {
    text-decoration:none;
    color: black;
    font-weight: 500;
 }
</style>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800 "><i class="fa-solid fa-compact-disc"></i> Source Types Management</h1>
	<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
			class="fas fa-download fa-sm text-white-50"></i> Import Data</a>
</div>
<div class="card shadow mb-4">
	<div class="card-header py-2 d-flex justify-content-between">
		<div class="m-0 font-weight-bold text-primary d-flex align-items-center">List of Source Types</div>
		<a href="{% url 'manage_source_type'%}" class="btn btn-sm btn-success btn-icon-split" type="button">
			<span class="icon text-white-50">
			<i class="fas fa-plus"></i>
		</span>
		<span class="text">Add</span>
		</a>
	</div>
	<div class="card-body">
		<!-- input search + reset button-->
    <div class="input-group input-group mb-3">
      <input type="text" onkeyup="searchFunction()" class="form-control" id="search" placeholder="Search for...">
      <a href="" class="btn btn-dark"><i class="fas fa-sync-alt"></i></a>  
   </div>
   <table class="table table-bordered table-sm-mt-4" style="text-align: center;">
      <collanguage>
        <col width="5%"/>
        <col width="20%"/>
        <col width="25%"/>
        <col width="40%"/>
        <col width="10%"/>
      </collanguage>
      <thead class="table-primary"> 
        <tr id="chk-th">
          <th class="text-center" scope="col">#</th>
          <th class="text-center" scope="col"><a href="{% url 'source_type' 'code'%}">Code <i class="fa-solid fa-sort"></i></a></th>
          <th class="text-center" scope="col"><a href="{% url 'source_type' 'name'%}">Name <i class="fa-solid fa-sort"></i></a></th>
          <th class="text-center" scope="col"><a href="{% url 'source_type' 'description'%}">Description <i class="fa-solid fa-sort"></i></a></th>
          <th class="text-center" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody id="myTable">
        {% if source_type %}
          {% for src in source_type %}
            <tr>
              <td class="text-center">{{ forloop.counter }}</td>
              <td class="text-center">{{ src.code }}</td>
              <td class="text-center">{{ src.name }}</td>
              <td class="text-center">{{ src.description }}</td>
              <td class="text-center">
                <div class="dropdown">
                  <button class="btn btn-light btn-sm rounded-0 border dropdown-toggle" type="button" id="{{ src.id }}" data-bs-toggle="dropdown" aria-expanded="false">Action</button>
                  <ul class="dropdown-menu" aria-labelledby="{{ src.id }}">
                    <li>
                      <a class="dropdown-item" href="{% url 'manage_source_type_pk' src.id%}"><i class="fa fa-edit text-primary"></i> Edit</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'delete_source_type' src.id%}"><i class="fa fa-trash text-danger"></i> Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
    <nav aria-label="Page">
        <ul class="pagination  justify-content-end">
          {% if source_type.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{source_type.previous_page_number}}"><i class="fa-solid fa-backward"></i></a></li>
          {% else %}
          <li class="page-item disabled"><a class="page-link"><i class="fa-solid fa-backward"></i></a></li>
          {% endif %}
          {% if source_type.number|moreB%}
          <li class="page-item"><a class="page-link" style="pointer-events: none;"><i class="fa-solid fa-ellipsis"></i></a></li>
          {% endif %}
          {% for i in source_type.number|range_list:source_type.paginator.num_pages %}
          {% if i == source_type.number %}
          <li class="page-item"><a class="page-link" href="?page={{i}}" style="background-color: #d3d3d3;">{{i}}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
          {% endif %}
          {% endfor %}
          {% if source_type.number|moreF:source_type.paginator.num_pages%}
          <li class="page-item"><a class="page-link" style="pointer-events: none;"><i class="fa-solid fa-ellipsis"></i></a></li>
          {% endif %}
          {% if source_type.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{source_type.next_page_number}}"><i class="fa-solid fa-forward"></i></a></li>
          {% else %}
          <li class="page-item disabled"><a class="page-link"><i class="fa-solid fa-forward"></i></a></li>
          {% endif %}
        </ul>
    </nav>
	</div>
</div>
</div>
</div>
{% endblock %}