.comment-box,
.post-comment .list-comment{
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 2px #0002;
}

.comment-session{
    width:800px;
    height:auto;
    margin: 0 auto;
}

.post-comment .list-comment{
    width:100%;
    margin-bottom: 12px;
}

.post-comment .list-comment .uscmt{
    display: flex;
    padding: 8px;
    overflow: hidden;
}

.post-comment .list-comment .uscmt img{
    height:38px;
    width:38px;
    margin-right: 10px;
    border-radius: 50%;
}

.comment-session .usname{
    text-transform: uppercase;
    font-weight: 500;
}

.post-comment .list-comment .day{
    font-size: 12px;
}

.post-comment .comment-box{
    padding: 0 0 15px 58px;
}


.comment-box
{
    padding: 10px;
    overflow: hidden;
}

.comment-box .uscmt{
    display: inline-block;
    width: min-content;
}

.comment-box .usimage img{
    width:24px;
    height:24px;
    margin-right: 10px;
    border-radius: 50%;
}

.comment-box textarea{
    background: #eee;
    width: -webkit-fill-available;
    height: 152px;
    margin: 10px 0;
    padding: 10px;
    resize: inherit;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #0003;
}

.comment-box textarea:focus-visible{
    box-shadow: inset 0 0 0 1px #141515;
    outline: none;
}

.comment-box .comment-submit{
    float: right;
    padding: 6px 10px;
    border: none;
    background: #009cff;
    color: #eee;
    cursor: pointer;
    border-radius: 3px;
}

.comment-box .comment-submit:hover{
    background: #0076bf;
}

@media screen and(max-width:660px){
    .comment-session{width:100%;}
}